<!DOCTYPE html>
<html>
  <head>
    <title>Boilerplate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="fixed inset-x-0 top-0 flex flex-col space-y-2 items-end justify-right px-4 py-6 sm:p-6 justify-end z-30 pointer-events-none">
      <%= render Shared::Alert::Component.new(message: notice, kind: 'success') %>
      <%= render Shared::Alert::Component.new(message: alert, kind: 'warning') %>
      <%= render Shared::Alert::Component.new(message: flash[:error], kind: 'error') %>
    </div>
    <%= yield %>
  </body>
</html>
